<nav class="navbar  navbar-dark bg-dark fixed-top navbar-section">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: #e8ecf0;text-decoration: underline;cursor: pointer;"
            routerLink="/doctorsPage">Book Appointment</a>
        <a class="navbar-brand" style="color: #e8ecf0;">Search Your Doctor, Make an appointment</a>
        <div class="d-flex">
            <a class="navbar-brand" style="color: #e8ecf0;text-decoration: underline;cursor: pointer;"
                routerLink="/bookingDetails">Booking Patient
                Details</a>



        </div>
    </div>
</nav>